.profile {
    display: grid;
    grid-template-columns: 120px 60% 1fr;
    gap: 30px;
    align-items: center;
    margin: 40px 0 0;
}

@media screen and (max-width: 930px) {
    .profile {
        grid-template-columns: 120px 50% 1fr;
    }
}

@media screen and (max-width: 720px) {
    .profile {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 470px) {
    .profile {
        margin-top: 42px;
        gap: 0;
    }
}