.profile__edit-button {
    min-width: 24px;
    height: 24px;
    margin-bottom: 8px;
    padding: 0;
    align-self: flex-end;
    background-color: transparent;
    background-image: url('../../../images/Edit-Button.svg');
    border: none;
    object-fit: contain;
    transition: all .3s;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 470px) {
    .profile__edit-button {
        min-width: 18px;
        height: 18px;
        background-size: 18px 18px;
        margin-bottom: 5px;
    }
}