.element__like-button {
    width: 22px;
    height: 19px;
    align-self: flex-end;
    margin: 0 0 4px;
    padding: 0;
    background-image: url('../../../images/like-button.svg');
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.element__like-button:hover {
    opacity: .5;
}

.element__like-button:active {
    opacity: 1;
    background-image: url('../../../images/like-button-active.svg');
}