.header {
    max-width: 880px;
    margin: 45px auto 0;
    padding: 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    box-sizing: border-box;
    line-height: 0;
}

@media screen and (max-width: 470px) {
    .header {
        min-height: 56px;
        margin: 28px auto 0;
    }
}